<!DOCTYPE html>
<html lang="en">
<head>
	<title>向商户付款</title>
	<meta http-equiv="content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="/Public/Wap/css/reset.min.css">
	<link rel="stylesheet" href="/Public/Wap/css/style.css">
</head>
<body>
<!--<img src="images/share.jpg" style="position:fixed; top:-500px; opacity:0; left:0; width:320px; z-index:0;">-->
<!-- 横屏显示和loading start -->

<div class="loading">
	<div class="loadbox">
		<div class="loadtext">Loading</div>
		<div class="circle1"></div>
		<div class="circle2"></div>
	</div>
</div>
<!-- 横屏显示和Loading end -->

<!-- 首页 -->
<section id="pay_tip">
	<div class="tip_img"><img src="/Public/Wap/images/tip.png"></div>
	<div class="pay_tip_text">
		<div class="tip_text1">
			<span>请使用<span class="orange_color">微信</span>或者<span class="orange_color">支付宝</span>的扫一扫</span>
		</div>
		<div class="tip_text2">来完成付款操作</div>
	</div>
</section>

<!-- 首页 -->

<script type="text/javascript" src="/Public/Wap/js/zepto.js"></script>
<script type="text/javascript" src="/Public/Wap/js/myJs.js"></script>
</body>
</html>